* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #04009A;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
}

header div img {
    width: 4.6875rem;
    height: 99%;
}

a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 20px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

header ul li {
    margin: 2.1875rem;
}

a:hover{
    color: rgb(0, 174, 255);
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #04009A;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    div img{
        width: 4.6875rem;
        height: 99%;
        }
            ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
                li{
                    margin: 2.1875rem;
                    a{
                        text-decoration: none;
                        color: blanchedalmond;
                        font-size: 20px;
                        &:hover{
                        color: rgb(0, 174, 255);
                        text-decoration: underline;
                        background-color: rgb(255, 255, 255);
                        border-radius: 5px;
                        }
                        }
                    }
                }
}
body {
    background-color: rgb(226, 226, 226);
}

.messiFlia {
    width: 100%;
    height: 23.75rem;
    margin-bottom: -4px;
}

.bio {
    width: 100%;
    background-color: #04009A;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    padding: .3125rem;
}

.texto {
    padding: .3125rem .3125rem;
    text-indent: 1.25rem;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: justify;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "img2 img2 img2 img2 img3 img3 img3 img3"
    "img2 img2 img2 img2 img3 img3 img3 img3" 
    "img1 img1 img1 img4 img4 img4 img5 img5"
    ;
}

.galeria img{
    width: 100%;
    height: 100%;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{grid-area: img4;}

.img5{
    grid-area: img5;
}

.messiCopa {
    width: 100%;
    height: 24.375rem;
    margin-bottom: -4px;
}

.textofcb {
    padding: .3125rem .3125rem;
    text-indent: 1.25rem;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: justify;
}

.titulochamps {
    width: 100%;
    background-color: #04009A;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    padding: .3125rem;
}

.messichamp {
    width: 190px;
    height: 190px;

}

.fotoscham {
    display: flex;
    justify-content: space-around;
    padding: .625rem .625rem;
    flex-wrap: wrap;
}

.champions {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
}

.messiPsg {
    width: 100%;
    height: 25.625rem;
    margin-bottom: -0.25rem;
}

.textopsg {
    padding: .3125rem .3125rem;
    text-indent: 1.25rem;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: justify;
}

.messiInter {
    width: 100%;
    height: 25.625rem;
    margin-bottom: -0.25rem;
}

.textointer {
    padding: .3125rem .3125rem;
    text-indent: 1.25rem;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: justify;
}

.messiSele {
    width: 100%;
    height: 25.625rem;
    margin-bottom: -0.25rem;
}

.textoarg {
    padding: .3125rem .3125rem;
    text-indent: 1.25rem;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: justify;
}

.tamanoLogo {

    width: 3.125rem;
    height: 3.125rem;
    padding: .125rem;
}

/*footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
}*/

footer {
    display: flex;
    flex-direction: row;
    background-color: #04009A;
    justify-content: center;
    padding: .3125rem;
}

footer li a {
    text-decoration: none;
}

footer a {
    font-size: 1.375rem;
}

@media(max-width:1440px){
    header ul li a{
        font-size: 30px;
    }
    .messiFlia{
        height: 500px;
    }
    .bio{
        font-size: 30px;
    }
    .texto{
        font-size: 30px;
    }
    .messiCopa{
        height: 500px;
    }
}

@media(max-width:1024px){
    header ul li a{
        font-size: 20px;
    }
    .messiFlia{
        height: 380px;
    }
    .bio{
        font-size: 24px;
    }
    .texto{
        font-size: 22px;
    }
    .messiCopa{
        height: 380px;
    }
    .textofcb{
        font-size: 22px;
    }
    .titulochamps{
        font-size: 24px;
    }
    .messichamp {
        width: 140px;
        height: 140px;
    }
}

@media(max-width:768px){
    header ul li a{
        font-size: 15px;
    }
    header ul li{
        margin: 25px;
    }
    .messiFlia{
        height: 290px;
    }
    .bio{
        font-size: 1.5rem;
    }
    .texto{
        font-size: 20px;
    }
    .messiCopa{
        height: 290px;
    }
    .textofcb{
        font-size: 20px;
    }
    .titulochamps{
        font-size: 20px;
    }
    .messichamp {
        width: 120px;
        height: 120px;
    }
}

@media(max-width: 320px){
    header ul li a {
        font-size: 12px;
    }
    header ul li{
        margin: 20px;
        margin-right: -10px;
    }
    .messiFlia{
        height: 15rem;
    }
    .bio{
        font-size: 1rem;
    }
    .texto{
        font-size: 1rem;
    }
    .messiCopa{
        height: 240px;
    }
    .textofcb{
        font-size: 16px;
    }
    .titulochamps{
        font-size: 12px;
    }
    .champions{
        font-size: 12px;
    }
    .messichamp {
        width: 90px;
        height: 90px;
    }
}

