.messiInter{
    @extend .messiPsg
}

.textointer{
    padding: .3125rem .3125rem;
    text-indent: 1.25rem;
    font-size: 1.875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: justify;
}
