@media(max-width:768px){
    header ul li{
        margin: 1.5625rem;
        a{
            font-size: .9375rem;
        }
    }
    .messiFlia{
        height: 18.125rem;
    }
    .bio{
        font-size: 1.5rem;
    }
    .messiCopa{
        height: 18.125rem;
    }
    .textofcb{
        font-size: 1.25rem;
    }
    .titulochamps{
        font-size: 1.25rem;
    }
    .messichamp{
        width: 7.5rem;
        height: 7.5rem;
    }
    .messiPsg{
        height: 18.125rem;
    }
    .messiInter{
        height: 18.125rem;
    }
    .messiSele{
        height: 18.125rem;
    }
}