@media(max-width:1440px){
    header ul li a{
        font-size: 30px;
    }
    .messiFlia{
        height: 31.25rem;
    }
    .bio{
        font-size: 1.875rem;
    }
    .texto{
        font-size: 1.875rem;
    }
    .messiCopa{
        height: 31.25rem;
    }
    .messiPsg{
        height: 31.25rem;
    }
    .messiInter{
        height: 31.25rem;
    }
    .messiSele{
        height: 31.25rem;
    }
}