@media(max-width:1024px){
    header ul li a{
        font-size: 1.25rem;
    }
    .messiFlia{
        height: 23.75rem;
    }
    .bio{
        font-size: 1.5rem;
    }
    .texto{
        font-size: 1.375rem;
    }
    .messiCopa{
        height: 23.75rem;
    }
    .textofcb{
        font-size: 1.375rem;
    }
    .titulochamps{
        font-size: 1.5rem;
    }
    .messichamp{
        width: 8.75rem;
        height: 8.75rem;
    }
    .messiPsg{
        height: 23.75rem;
    }
    .messiInter{
        height: 23.75rem;
    }
    .messiSele{
        height: 23.75rem;
    }
}